::-webkit-scrollbar {
    width: 3px; 
  }
  
  /* Estilo para la parte deslizante (thumb) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del scroll */
    border-radius: 6px; /* Bordes redondeados */
  }
  
  /* Estilo para el fondo del scroll */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo del scroll */
  }